.row-wrap {
  height: 48px;
  border-top: 1px solid hsla(0, 0%, 53.3%, 0.4);
}

.label {
  font-size: 11px;
}

.label,
.entry {
  color: hsla(0, 0%, 6.7%, 0.6);
}

.is-active .label,
.is-active.entry {
  color: #009de0;
}
