<div fxFlex fxLayout="row" class="row-wrap">
  <div
    class="entry clickable"
    fxFlex="25"
    fxLayout="column"
    fxLayoutAlign="center center"
    routerLink="/home"
    routerLinkActive="is-active"
  >
    <mat-icon>favorite</mat-icon>
    <div class="label">Health</div>
  </div>
  <div
    class="entry clickable"
    fxFlex="25"
    fxLayout="column"
    fxLayoutAlign="center center"
    routerLink="/food"
    routerLinkActive="is-active"
  >
    <mat-icon>restaurant</mat-icon>
    <div class="label">Nutrition</div>
  </div>
  <div
    class="entry clickable"
    fxFlex="25"
    fxLayout="column"
    fxLayoutAlign="center center"
    routerLink="/person"
    routerLinkActive="is-active"
  >
    <mat-icon>fitness_center</mat-icon>
    <div class="label">Fitness</div>
  </div>
  <div class="entry clickable" fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon>more_horiz</mat-icon>
    <div class="label">More</div>
  </div>
</div>
