// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$sb-lime: (
  50: #64dd17,
  100: #64dd17,
  200: #64dd17,
  300: #64dd17,
  400: #64dd17,
  500: #64dd17,
  600: #64dd17,
  700: #64dd17,
  800: #64dd17,
  900: #64dd17,
  A100: #64dd17,
  A200: #64dd17,
  A400: #64dd17,
  A700: #64dd17,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

$smartbloom-primary: mat-palette($sb-lime);
$smartbloom-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smartbloom-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$smartbloom-theme: mat-light-theme($smartbloom-primary, $smartbloom-accent, $smartbloom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($smartbloom-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.clickable {
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
